<app-header></app-header>

<section class="vh-">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div
        class="col-md-8 col-lg-6 col-xl-4 offset-xl-1"
        style="
          margin-top: 180px;
          box-shadow: 5px 5px 5px 5px rgb(218, 195, 172);
          text-align: center;
        "
      >
        <!-- usename input -->
        <div data-mdb-input-init class="mb-5" style="margin: 25px">
          <input
            [(ngModel)]="credentials.email"
            name="email"
            type="email"
            id="form3Example4"
            class="form-control form-control-lg"
            placeholder="Enter Username"
          />
          <!-- <label class="form-label" for="form3Example4"><b>Password</b></label> -->
        </div>

        <div data-mdb-input-init class="mb-5" style="margin: 25px">
          <input
            [(ngModel)]="credentials.password"
            name="password"
            type="password"
            id="form3Example4"
            class="form-control form-control-lg"
            placeholder="Enter Password"
          />
          <!-- <label class="form-label" for="form3Example4"><b>User Age</b></label> -->
        </div>

        <div data-mdb-input-init class="" style="margin-bottom: 25px">
          <button
            (click)="login()"
            type="button"
            data-mdb-button-init
            data-mdb-ripple-init
            class="btn btn-primary btn-lg col-4"
            style="margin-right: 30px"
          >
            Login
          </button>
          <button
            routerLink="/addUser"
            type="button"
            data-mdb-button-init
            data-mdb-ripple-init
            class="btn btn-warning btn-lg col-4"
          >
            Register
          </button>
        </div>
      </div>
    </div>
  </div>

  <nav
    style="padding-top: 25px"
    class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom"
  >
    <h6 style="margin-left: 23%; color: white">
      <b
        >© 2024-2025 Bhushan Galphade. All Rights Reserved. For inquiries,
        please contact:<a href="https://www.linkedin.com/in/bhushan0242"
          >Click Here.</a
        >
      </b>
    </h6>
  </nav>
</section>
