<ul class="navbar navbar-expand-sm bg-warning navbar-dark fixed-top">
  <h4
    class="fst-italic text-primary bg-gradient"
    style="padding: 5px; box-shadow: 2px 2px 2px 2px rgb(242, 242, 244)"
  >
    E-Notes Web Application
  </h4>

  <button
    routerLink="/addUser"
    style="margin-left: 66% ; box-shadow: 2px 2px 2px 2px rgb(242, 242, 244)" 
    routerLink="/addUser"
    class="btn btn-primary"
  >
    Register
  </button>

  <button
    routerLink=" "
    class="btn btn-danger"
    style="padding: 5px; box-shadow: 2px 2px 2px 2px rgb(242, 242, 244)"
  >
    Logout
  </button>
</ul>
